/vendor/*
/config/app.php
/tmp/*
/logs/*
/webroot/content/img/*
/webroot/content/report/*
/webroot/content/touch/*
/webroot/content/videos/*
/webroot/content/spreadsheets/*
/webroot/content/archives/*
/webroot/content/documents/*
/webroot/content/preview/*

!/webroot/content/img/empty
!/webroot/content/report/empty
!/webroot/content/touch/empty
!/webroot/content/videos/empty
!/webroot/content/spreadsheets/empty
!/webroot/content/archives/empty
!/webroot/content/documents/empty
!/webroot/content/preview/empty

/webroot/attachments/displays/*
/webroot/attachments/support/*
!/webroot/attachments/displays/empty
!/webroot/attachments/support/empty

/webroot/attachments/guides/*
!/webroot/attachments/guides/empty
