<div sidebar-menu></div>
<!-- START PAGE-CONTAINER -->
<div class="page-container ">
    <div header></div>
    <!-- START PAGE CONTENT WRAPPER -->

    <div class="modal fade fill-in" id="modalFillIn" tabindex="-1" role="dialog" aria-hidden="true">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="pg-close"></i>
        </button>
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="text-left p-b-5"><span class="semi-bold">Edit</span> {{editingCountry.countryName}}</h5>
                </div>
                <div class="modal-body">



                    <form role="form">

                        <div class="form-group-attached">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group form-group-default">
                                        <label>Name</label>
                                        <input type="text" class="form-control" ng-model="editingCountry.countryName">
                                    </div>
                                    <div class="form-group form-group-default">
                                        <label>Capital</label>
                                        <input type="text" class="form-control" ng-model="editingCountry.capital">
                                    </div>
                                    <div class="form-group form-group-default">
                                        <label>Population</label>
                                        <input type="text" class="form-control" ng-model="editingCountry.population">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row" ng-show="!hasCarriers(editingCountry)">
                            <hr />
                            <h5 class="text-danger text-center">No Carriers</h5>
                        </div>
                        <div class="row" ng-show="hasCarriers(editingCountry)">

                            <div class="col-sm-12">
                                <hr />
                                <h5>Carriers</h5>
                                <div class="table-responsive" >
                                    <table class="table table-hover displays-table" id="basicTable">
                                        <thead>
                                            <tr>
                                                <th style="width:40%">Name</th>
                                                <th style="width:40%">&pound; per MB</th>
                                                <th style="width:20%">As default</th>
                                                <th style="width:20%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="carrier in editingCountry.mobile_carriers">
                                                <td class="v-align-middle ">
                                                    <p>{{carrier.name}}</p>
                                                </td>

                                                <td class="v-align-middle ">
                                                    <p>{{carrier.british_pound_per_mb}}</p>
                                                </td>
                                                <td class="v-align-middle">
                                                    <input type="checkbox" ng-model="carrier.set_as_default" ng-change="updateCarrier(carrier)">
                                                </td>
                                                <td class="v-align-middle ">
                                                    <button type="button" class="btn btn-default" ng-click='removeCarrier(carrier)'><i class="fa fa-close"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div> 
                            </div>
                        </div>

                        <div class="form-group-attached">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5>New Carrier</h5>
                                    <div class="form-group form-group-default">
                                        <label>Name</label>
                                        <input type="text" class="form-control" ng-model="newCarrier.name">
                                    </div>

                                    <div class="form-group form-group-default">
                                        <label>&pound; per MB</label>
                                        <input type="text" class="form-control" ng-model="newCarrier.british_pound_per_mb">
                                    </div>
                                    <div class="form-group form-group-default">
                                        <label>Set as default</label>
                                        <input type="checkbox" ng-model="newCarrier.set_as_default">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="p-t-20 clearfix p-l-10 p-r-10">
                                        <div class="pull-left">
                                            <p class="bold font-montserrat text-uppercase"></p>
                                        </div>
                                        <div class="pull-right">
                                            <p class="bold font-montserrat text-uppercase"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 m-t-10 sm-m-t-10">
                                    <button type="button" class="btn btn-primary btn-block m-t-5" ng-click="addNewCarrier()">Add Carrier</button>
                                </div>
                            </div>
                        </div>
                    </form>



                    <hr />
                    <div class="row">      
                        <div class="col-sm-6 m-t-10 sm-m-t-10">
                            <button type="button" class="btn btn-default btn-block m-t-2" ng-click="cancel()">Cancel</button>
                        </div>
                        <div class="col-sm-6 m-t-10 sm-m-t-10">
                            <button type="button" class="btn btn-primary btn-block m-t-2" ng-click="save()">Save</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="page-content-wrapper countries-dashboard">
        <!-- START PAGE CONTENT -->
        <div class="content ">
            <!-- START JUMBOTRON -->
            <div class="jumbotron" data-pages="parallax">
                <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                    <div class="inner">
                        <!-- START BREADCRUMB -->
                        <ul class="breadcrumb">
                            <li>
                                <a href="#dashboard">Dashboard</a>
                            </li>
                            <li><a href="#countries" class="active">Countries</a>
                            </li>
                        </ul>
                        <!-- END BREADCRUMB -->
                        <div class="row">
                            <div class="col-lg-7 col-md-6 ">
                                <!-- START PANEL -->
                                <div class="full-height">
                                    <div class="panel-body text-center">
                                        <img class="image-responsive-height demo-mw-600" src="" alt="">
                                    </div>
                                </div>
                                <!-- END PANEL -->
                            </div>
                            <div class="col-lg-5 col-md-6 ">
                                <!-- START PANEL -->
                                <div class="panel panel-transparent">
                                    <div class="panel-heading">
                                        <div class="panel-title">Countries Manager
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <h3>It only takes a glance.</h3>
                                        <p></p>
                                        <p class="small hint-text m-t-5">Kevin Coates
                                            <br> Digital Solutions Manager</p>
                                        <br>
                                    </div>
                                </div>
                                <!-- END PANEL -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END JUMBOTRON -->
            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg bg-white">
                <div class="panel panel-transparent">
                    <div class="panel-heading">
                        <div class="panel-title">Countries
                        </div>
                        <div class="pull-right">
                            <div class="col-xs-12">
                                <input type="text" id="search-table" class="form-control pull-right" placeholder="Search">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover demo-table-search countries-table" id="tableWithSearch">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Country</th>
                                    <th>Capital</th>
                                    <th>Population</th>
                                    <th>Currency</th>
                                    <th>Carriers</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="country in countries">
                                    <td class="v-align-middle ">
                                        <p>{{country.countryCode}}</p>
                                    </td>

                                    <td class="v-align-middle ">
                                        <p>{{country.countryName}}</p>
                                    </td>
                                    <td class="v-align-middle ">
                                        <p>{{country.capital}}</p>
                                    </td>
                                    <td class="v-align-middle ">
                                        <p>{{country.population| number}}</p>
                                    </td>
                                    <td class="v-align-middle ">
                                        <p>{{country.currencyCode}}</p>
                                    </td>
                                    <td class="v-align-middle ">
                                        <p ng-show="!hasCarriers(country)" class="text-danger">No Carriers</p>
                                        <div ng-show="hasCarriers(country)" class="carriers">
                                            <ul>
                                                <li ng-repeat="carrier in country.mobile_carriers">{{carrier.name}}<span> &pound;{{carrier.british_pound_per_mb}}</span></li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td class="v-align-middle">
                                        <button type="button" class="btn btn-default" ng-click="edit(country)"><i class="fa fa-edit"></i></button>
                                    </td>
                                    <td class="v-align-middle">
                                        <button type="button" class="btn btn-default" ng-click='removeCountry(country)'><i class="fa fa-close"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT -->
        <div footer></div>
    </div>
    <!-- END PAGE CONTENT WRAPPER -->
</div>
<!-- END PAGE CONTAINER -->
<div quick-view></div>
<div overlay></div>