.display-plan-campaign{








    .videos-campaign{
        .dropzone{
            min-height: 200px;
        }
    }

    .lift-and-learn-campaign{
        .slot{
            margin-bottom: 40px;
            border: 20px solid #FC9407;
            border-radius: 0 20px 20px 20px;
            position: relative;

            .tab{
                position: absolute;
                padding-top:5px; 
                top: -40px;
                left: -20px;
                height: 30px;
                border-radius: 20px 20px 0 0;
                background: #FC9407;
                min-width: 100px;
                text-align: center;
            }

            .contents{
                position: absolute;
                height: 50px;
                width: 100%;
                p{
                    padding:2px 0;
                    margin: 0;
                    width: 100%;
                    font-size: 11px;
                    text-align: center;
                    &.video{
                        background: white;
                        color:gray;
                    }
                    &.image{
                        background: white;
                        color:gray;
                        border-bottom: 1px solid #FC9407;
                    }
                }
            }
            .dropzone{
                min-height: 200px;
                max-height: 200px;
            }


            &.default{
                border-color: #186CFE;
                .tab{
                    background: #186CFE;
                    color: white;
                }
            }
        }
    }
}