<div sidebar-menu></div>
<!-- START PAGE-CONTAINER -->
<div class="page-container ">
    <div header></div>
    <!-- START PAGE CONTENT WRAPPER -->

    <div class="modal fade fill-in" id="modalFillIn" tabindex="-1" role="dialog" aria-hidden="true">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="pg-close"></i>
        </button>
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="text-left p-b-5"><span class="semi-bold">Add</span> a display to your inventory</h5>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group-attached">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group form-group-default">
                                        <label>Display Name</label>
                                        <input type="text" class="form-control" ng-model="newDisplay.name">
                                    </div>

                                </div>
                            </div>
                            
                            <div class="form-group form-group-default">
                                <label>Screen Size</label>
                                <select class="full-width" id="screensize-select" ng-model="newDisplay.screensize">
                                    <option ng-repeat="screensize in data.screensizes" value="{{screensize.id}}">{{screensize.name}}</option>
                                </select>
                            </div>
                                        
                            <div class="form-group form-group-default">
                                <label>Orientation</label>
                                <select class="full-width" id="orientation-select" ng-model="newDisplay.orientation">
                                    <option ng-repeat="orientation in data.orientations" value="{{orientation}}">{{orientation}}</option>
                                </select>
                            </div>

                            <div class="form-group form-group-default">
                                <label>Band</label>
                                <select class="full-width" id="band-select" ng-model="newDisplay.band_id">
                                    <option ng-repeat="band in data.bands" value="{{band.id}}">{{band.name}}</option>
                                </select>
                            </div>
                            <div class="form-group form-group-default">
                                <label>Type</label>
                                <select class="full-width" id="type-select" ng-model="newDisplay.type_id">
                                    <option ng-repeat="type in data.campaignTypes" value="{{type.id}}">{{type.name}}</option>
                                </select>
                            </div>

                            <div class="form-group form-group-default">
                                <label>Notes</label>
                                <input type="text" class="form-control" ng-model="newDisplay.notes">
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="p-t-20 clearfix p-l-10 p-r-10">
                                <div class="pull-left">
                                    <p class="bold font-montserrat text-uppercase"></p>
                                </div>
                                <div class="pull-right">
                                    <p class="bold font-montserrat text-uppercase"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 m-t-10 sm-m-t-10">
                            <button type="button" class="btn btn-primary btn-block m-t-5" ng-click="addNewDisplay()">Add Now</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- Import modal start -->
    <div class="modal fade fill-in" id="modal-import" tabindex="-1" role="dialog" aria-hidden="true">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="pg-close"></i>
        </button>
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="text-left p-b-5"><span class="semi-bold">Import</span> a document to your inventory</h5>
                </div>
                <div class="modal-body">
                    <form role="form" method="post" action="http://digitalmedia.digital/api/displays/addexcel" enctype="multipart/form-data">
                        <div class="form-group-attached">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group form-group-default">
                                        <label>Upload Your Document</label>
                                        <br>
                                        <input type="file" class="form-control" name= "excel">
                                    </div>
                                </div>
                                <div class="col-sm-12 text-right">
                                    <br>
                                    <button type="submit" class="btn btn-primary">SAVE</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Import modal end -->

    <div class="page-content-wrapper displays-dashboard" ng-class="{'full-height':isMapView()}">
        <div class="view-toggle">
            <ul>
                <li ng-class="{'active':isMapView()}" ng-click="view('map')"><i class="fa fa-map-marker" aria-hidden="true"></i></li>
                <li ng-class="{'active':!isMapView()}" ng-click="view('list')"><i class="fa fa-list" aria-hidden="true"></i></li>
            </ul>
        </div>
        <div ng-show="!isMapView()" displays-table-view displays="displays" remove-fn='removeDisplay(display)' export-fn="exportDisplays()" class="content" ></div>
        <div ng-show="isMapView()" locations-map locations="locations" should-redraw="isMapView()" class="content full-width full-height overlay-footer"></div>
        <div footer></div>
    </div>
</div>
<div overlay></div>