<div class="container-xs-height full-height">
    <div class="row-xs-height">
        <div class="col-xs-height col-middle">
            <div class="error-container text-center">
                <h3 class="semi-bold">We are currently performing some scheduled maintenance and will be back as soon as possible.</h3>
                
                <img src="assets/img/display-plan/display-plan-software-architect.png" alt="SA" />
                <br /><br />
                <p>Estimated time remaining before service is restored:</p>
                <h2 class="semi-bold">7 days, 0 Hours, 40 Minutes</h2>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTAINER -->