<div sidebar-menu></div>
<div class="page-container ">
    <div header></div>
    <div class="page-content-wrapper ">
        <!-- START PAGE CONTENT -->
        <div class="content ">
            <div class="container-fluid container-fixed-lg">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <!-- START PANEL -->
                        <div class="panel panel-transparent">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    Privacy Policy
                                </div>
                            </div>
                            <div class="panel-body" ng-bind-html="text">

                            </div>
                        </div>
                        <!-- END PANEL -->
                    </div>
                    
                </div>
            </div>
        </div>
        <div footer></div>
    </div>
</div>