<div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">

    <div class="row">
        <div class="col-sm-12">
            <form id="form-work" class="form-horizontal" role="form" autocomplete="off" novalidate="novalidate">

                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label">Notes</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="name" placeholder="Display Notes" ng-model="display.notes"></textarea>
                    </div>

                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <button class="btn btn-success" type="submit">Save</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <!-- START CATEGORY -->

    
    <div class="gallery">

        <div class="gallery-item first" data-width="1" data-height="1" ng-repeat="picture in display.display_attachments">
            <!-- START PREVIEW -->
            <img ng-src="{{picture.url}}" alt="" class="image-responsive-height">
            <!-- END PREVIEW -->
            <!-- START ITEM OVERLAY DESCRIPTION -->
            <div class="overlayer bottom-left full-width">
                <div class="overlayer-wrapper item-info ">
                    <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                        <div class="">
                            <p class="pull-left bold text-white fs-14 p-t-10"></p>
                            <h5 class="pull-right semi-bold text-white font-montserrat bold"></h5>
                            <div class="clearfix"></div>
                        </div>
                        <div class="m-t-10">



                            <div class="pull-right m-t-10">
                                <button class="btn btn-white btn-xs btn-mini bold fs-14" type="button">&times;</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PRODUCT OVERLAY DESCRIPTION -->
        </div>
        <!-- END GALLERY ITEM -->
    </div>
    <!-- END CATEGORY -->
</div>