<div class="container-fluid bg-master-lighter ">
    <div class="row">
        <div class="col-sm-12 text-center">
            <button type="button" class="btn btn-success" ng-click="addToCampaign()">Add To Campaign</button>
        </div>
    </div>
    
    <div class="timeline-container top-circle">
        <section class="timeline">
            <div class="timeline-block" ng-repeat="campaign in data">
                <div class="timeline-point success">
                    <i class="pg-map"></i>
                </div>
                <!-- timeline-point -->
                <div class="timeline-content">
                    <div class="card share full-width">
                        <div class="circle" data-toggle="tooltip" title="Label" data-container="body">
                        </div>
                        <div class="card-header clearfix">
                            <h5>{{campaign.campaign.organisation.name}}</h5>
                            <h6>{{campaign.campaign.brand.name}}
                                <span class="location semi-bold"><i class="fa" ng-class="getCampaignTypeIcon(campaign.campaign)"></i> {{getCampaignTypeName(campaign.campaign)}} Campaign</span>
                            </h6>
                        </div>
                    </div>
                    <div class="event-date">
                        <h6 class="font-montserrat all-caps hint-text m-t-0">{{campaign.campaign.name}}</h6>
                        <small class="fs-12 hint-text">{{campaign.campaign.start | date}} - {{campaign.campaign.end | date}}</small>
                    </div>
                </div>
                <!-- timeline-content -->
            </div>
        </section>
        <!-- timeline -->
    </div>
    <!-- -->
</div>